<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="navbar" class="navbar-fixed-top" th:fragment="userNavbarFragment">

		<nav id="navbar-pc" class="hidden-sm hidden-xs navbar navbar-default row" onclick="navClick()" >		 	
		 	<a class="col-md-2 navbar-option">
  				내 정보
			</a>
		 	<a class="col-md-2 navbar-option">
  				후원
			</a>
			<a class="col-md-2 navbar-option">
  				입점
			</a>
			<a class="col-md-2 navbar-option">
  				업사이클링 
  				<br>재료
			</a>	
			<a class="col-md-2 navbar-option">
  				상품
			</a>
			<a class="col-md-2 navbar-option">
  				클래스
			</a>
		</nav>
		<nav id="navbar-mobile" class="visible-sm visible-xs navbar navbar-default row">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
	                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="glyphicon glyphicon-align-justify "></span>
	        </button>	
		</nav>
		<div class="collapse row" id="collapse1">
			<div class="col-md-2" >
				 <ul class="navbar-detail">
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/Signup}">회원 가입</a>
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/Secession}">회원 탈퇴</a>
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/Modify}">회원 정보 수정</a>
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/Cart}">장바구니</a>	
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/MyGrade}">내 활동 등급</a>	
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/MyExp}">내 활동 경험치</a>	
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/MyMileage}">마일리지 조회</a>	
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/MyClass}">클래스 참가 현황</a>	
				  	</li>
				  	<li class="navbar-detail-li">
				  		<a th:href="@{/user/member/MyRevenue}">수익 조회</a>	
				  	</li>
				  </ul>
			</div>
			<div class="col-md-2" >
			  	<ul class="navbar-detail">
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/donation/Application}">후원 신청</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/donation/List}">후원 내역</a>
			  		</li>
			  	</ul>
			</div>
			<div class="col-md-2" >
			  	<ul class="navbar-detail">
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/opening/Application}">입점 신청</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/opening/List}">입점 내역</a>
			  		</li>
			  	</ul>
			</div>
			<div class="col-md-2" >
			  	<ul class="navbar-detail">
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/scrap/List}">업사이클링 재료 목록</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/scrap/Application}">업사이클링 재료 신청</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/scrap/Sell}">업사이클링 재료 판매</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/scrap/Buy}">업사이클링 재료 구매</a>	
			  		</li>
			  	</ul>
			</div>
			<div class="col-md-2" >
			  	<ul class="navbar-detail">
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/goods/EnterpriseList}">기업 판매 상품 목록</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/goods/MemberList}">위탁 판매 상품 목록</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/goods/MySell}">내 업사이클링 물품 판매</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/goods/Order}">상품 주문</a>	
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/goods/OrderList}">주문 현황</a>	
			  		</li>
			  	</ul>
			</div>
			<div class="col-md-2" >
			  	<ul class="navbar-detail">
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/class/ClassAdd}">클래스 강사 신청</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/class/Enrollment}">클래스 등록</a>
			  		</li>
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/class/Application}">클래스 참가 신청</a>
			  		</li>
			  	</ul>
			</div>
		</div>
	</div>	
</html>