<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="navbar" class="navbar-fixed-top" th:fragment="userNavbarFragment">

		<nav id="navbar-pc" class="hidden-sm hidden-xs navbar navbar-default row" onclick="navClick()" >		 	
		 	<a class="col-md-2 navbar-option">
  				MENU BAR ::
			</a>
		 	<a class="col-md-2 navbar-option">
				내 업사이클링 상품 위탁 판매 신청하기
			</a>
			<a class="col-md-2 navbar-option">
				(클릭하세요)
			</a>
			<a class="col-md-2 navbar-option">
			</a>	
			<a class="col-md-2 navbar-option">
			</a>
			<a class="col-md-2 navbar-option">
			</a>
		</nav>
		<nav id="navbar-mobile" class="visible-sm visible-xs navbar navbar-default row">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
	                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="glyphicon glyphicon-align-justify "></span>
	        </button>	
		</nav>
		<div class="collapse row" id="collapse1">
			<div class="col-md-2" >
			</div>
			<div class="col-md-2" >
			</div>
			<div class="col-md-2" >
			</div>
			<div class="col-md-2" >
			</div>
			<div class="col-md-2" >
			  	<ul class="navbar-detail">
			  		<li class="navbar-detail-li">
			  			<a th:href="@{/user/goods/MySell}">내가 만든 업사이클링 상품 팔기(이준혁)</a>
			  		</li>
					<li class="navbar-detail-li">
						<a th:href="@{/user/goods/MySellStatus}">내 판매 신청 조회(이준혁)</a>
					</li>
			  	</ul>
			</div>
			<div class="col-md-2" >
			</div>
		</div>
	</div>	
</html>