<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:replace="fragments/user/head :: userHeadFragment">
   
  </head>
  <body>
	<header th:replace="fragments/user/header :: userHeaderFragment">

	</header>

	<div th:replace="fragments/user/navbar :: userNavbarFragment">


	</div>	
	

	<div class="container-fluid">
		<div class="row">
			<div id="leftcolumn" class="col-md-9">
				<div layout:fragment="userCustomContents"></div>
			</div>
			<div th:replace="fragments/user/rightcolumn :: userRightcolumnFragment">
			</div>
		</div>
	</div>
	
	<footer>
	</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/user/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
	var clickCheck = false;
		function navClick(){
			
			if(clickCheck == false){
				console.log($('#collapse1').height());
				$('#collapse1').collapse('show');
				console.log($('#collapse1').width());
				clickCheck = true;
				console.log(clickCheck);
			} else if(clickCheck == true) {
				$('#collapse1').collapse('hide');
				clickCheck = false;
				console.log(clickCheck);
			}
			
		}
		
	</script>

</body>
</html>