 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/user}">
	  	  
<!-- 커스텀 타이틀 지정 -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
	  
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="userCustomContents">

	<h1>회원 탈퇴</h1>
	
	<h3> 회원 탈퇴시 UPBUS에서 작성한 모든 글과 활동 내역이 삭제됩니다. </h3>
	<h3>삭제된 정보는 다시 복구할 수 없습니다.</h3>
	<br>
	<h4>그 동안 UPBUS를 이용해주셔서 감사합니다.</h4>
	<br>
	<h5>풍랑은 가고 너울이 온다.</h5>
	<h5>반드시 우리 다시 만나자.</h5>
	<br>
	<h5>권비영. (몽화)  中 </h5>
	<br><br>
		<a class="btn" th:href="@{/user/member/MemberDelete}" style="background-color: red; color:white;" >회원 탈퇴</a>
</th:block>
</html>