<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/user}">
	  	  
<!-- 커스텀 타이틀 지정 -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
	  
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="userCustomContents">
	<div class="form-group" style="margin-top: 10px;">
		큰 분류
		<select class="form-control" id="goodsMainCategory" onchange="chainedSub(this.value)">
			<option value="">큰 분류</option>
			<option th:each="list : ${goodsCategoryMainList}" th:value="${list.goodsCategoryMainName}">[[${list.goodsCategoryMainName}]]</option>
		</select>
	</div>
	<div class="form-group">
		작은 분류
		<select style="margin-bottom: 20px;" class="form-control" id="goodsSubCategory" name="goodsCategorySubName">
			<option value="">작은 분류</option>
		</select>
	</div>
	<script>
		var goodsSubCategory = $('#goodsSubCategory');
		var goodsMainCategory = $('#goodsMainCategory');
		goodsSubCategory.click(function () {
			if ($('#goodsMainCategory').val() == '') {
				alert("메인 카테고리를 먼저 선택해주세요.");
				goodsMainCategory.focus();
				return;
			}
		});
		function chainedSub(main) {
			if(main == ''){
				goodsSubCategory.append('<option value="">작은 분류</option>');
			}
			$.ajax({
				url: 'user/goods/MySell/GetSubCategory',
				data: {goodsMainCategory: $('#goodsMainCategory option:selected').val()},
				dataType: "json",
				type: 'get',
				success: function (data) {
					$('#goodsSubCategory option').remove();
					if(data.length == 0){
						goodsSubCategory.append('<option value="">작은 분류</option>');
					}else {
						$(data).each(function (i) {
							goodsSubCategory.append('<option value="' + data[i].goodsCategorySubName + '">'
									+ data[i].goodsCategorySubName + '</option>');
						});
					}
				},
				error: function () {
					alert("Bad Request");
				}
			});
		}
	</script>
	
	<div>		
      <figure id="columns" th:if="${#lists.size(egoodsList) > 0}" th:each="l : ${egoodsList}" style="float:left; margin: 10px;">
        <img th:src="${l.egoodsImage}" style="height: 350px; width: 250px;">
        <figcaption th:text="${l.egoodsName}" style="text-align: center;"></figcaption>
      </figure>
    </div>
     
</th:block>

</html>