<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/admin}">
<!-- 커스텀 타이틀 지정 -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
	  
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">		
			<div class="col-md-4">시간별 검색 들어갈 곳</div>	
			<div class="ml-auto col-md-4" style="text-align:right;">
				<form th:action="@{/admin/mileage/ListManage}">
				 	<input type="radio" id="all" name="type" value="all" checked><label for="all">전체</label>
				  	
				  	<input type="radio" id="accumulate" name="type" value="accumulate"><label for="accumulate">적립</label>
				  	
				 	<input type="radio" id="use" name="type" value="use" checked><label for="use">사용</label>
				 	
					
					<input type="text" placeholder="아이디 검색">
					<button type="submit" class="btn btn-primary btn-sm">검색</button>		
				</form>
			</div>
		</div>
	
		<table class="table table-hover" style="text-align: center;">
			<thead>
				<tr>
					<th>코드</th>
					<th>아이디</th>
					<th>마일리지량</th>
					<th>마일리지 시각</th>
					<th>마일리지 구분</th>
					<th>취소여부</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:if="${#lists.size(mileageUserList) > 0}" >
					<tr th:id="${l.memberId}" th:each="l : ${mileageUserList}" data-toggle="modal" data-target="#memberInfoModal" onclick="ajaxRequest(this)">
						<td th:text="${l.mileageUserListCode}"></td>
						<td th:text="${l.memberId}"></td>
						<td th:text="${l.mileageUserListAmount}"></td>
						<td th:text="${l.mileageUserListDate}"></td>
						<td th:text="${l.mileageUserListType}"></td>
						<td th:text="${l.mileageUserListCancelName}"></td>
					</tr>				
				</th:block>
			</tbody>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="memberInfoModal" tabindex="-1" role="dialog" aria-labelledby="memberInfoTitle" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title" id="memberInfoTitle"></h3>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <table class="table table-hover" style="text-align: center;">
					<thead id="memberInfoHead">
						<tr>
							<th>코드</th>
							<th>마일리지량</th>
							<th>마일리지 시각</th>
							<th>마일리지 구분</th>
							<th>취소여부</th>
						</tr>
					</thead>
					<tbody id="memberInfoBody">
					</tbody>
		        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-warning" id="deleteChangeBtn" onclick="deleteChange()">삭제기능으로 변경</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<script>
		
		function deleteChange(){
			$("#memberInfoHead").children("tr").append('<th id="deleteCol">삭제</th>');
			$("#deleteChangeBtn").remove();
			$(".modal-footer").prepend('<button type="button" class="btn btn-info" id="normalChangeBtn" onclick="normalChange()">조회기능으로 변경</button>');
		}
		function normalChange(){
			$("#deleteCol").remove();
			$("#normalChangeBtn").remove();
			$(".modal-footer").prepend('<button type="button" class="btn btn-warning" id="deleteChangeBtn" onclick="deleteChange()">삭제기능으로 변경</button>');
		}
	
		 function ajaxRequest(row){
			 var param = {
					 memberId:row.id
			 }
			$.ajax({
			      type : 'get',
			      url : 'ajaxUser',
			      data : param,
			      dataType : "json",
			      success : function(data) {
			    	$("#memberInfoBody").empty();
			    	$("#memberInfoTitle").empty();
			       /* console.log(data.length);
			        console.log(data);
			        //객체 속성의 개수
			        console.log(Object.keys(data[0]).length);
			      	//객체의 첫번쨰 속성
			      	console.log(Object.keys(data[0])[0]);*/
			        for(var i = 0 ; i < data.length ; i++){
			        	createMemberInfoTitle(data[i]);	
			        	createMemberInfoBody(data[i]);			        	
			        }
			      },
			      error : function(error) {
			          alert("통신 오류");
			          
			      }
			  });
			 
		 }
		var createMemberInfoTitle = function(row){
			var titleText = "";
			for(var i = 0 ; i < Object.keys(row).length ; i++){
				 //아이디 찾기
				  if(Object.keys(row)[i] == "memberId"){
					  titleText += row[Object.keys(row)[i]]+" 님의 마일리지 이력";
					  break;
				  }
			}
			$("#memberInfoTitle").text(titleText);
		}
		var createMemberInfoBody = function(row){
			
			 var htmlBody = "<tr>";
			 for(var i = 0 ; i < Object.keys(row).length ; i++){
				 //아이디와 취소여부(숫자) 빼고 저장
				 if(Object.keys(row)[i] == "memberId" || Object.keys(row)[i] == "mileageUserListCancel"){
					 
				 } else {
					 htmlBody += "<td>"+row[Object.keys(row)[i]]+"</td>";
				 }
				
			 }
			 htmlBody += "<tr>";
			 console.log(htmlBody);
			 $("#memberInfoBody").append(htmlBody);
		 }
	</script>
</th:block>

</html>