<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/admin}">
<!-- 커스텀 타이틀 지정 -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
	  
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<link rel="stylesheet" th:href="@{/admin/css/mileage/ListManage.css}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">	
				<!--여기에 전체 회원 또는 사용자 aaaa들어가야함-->
				<span id="ListIdSpan1" ></span><span id="ListIdSpan2">전체 회원</span>
			</div>
			<div id="errorDiv" class="ml-auto col-md-4" style="text-align:right;">
			</div>
		</div>		
		<div class="row">		
			<div class="col-md-4">				
				<input class="requestClass" type="radio" id="allType" name="type" value="all" checked><label for="allType">전체</label>
					  	
				<input class="requestClass" type="radio" id="accumulateType" name="type" value="accumulate"><label for="accumulateType">적립</label>
					  	
				<input class="requestClass" type="radio" id="useType" name="type" value="use" ><label for="useType">사용</label>
			</div>	
			<div class="ml-auto col-md-4 requestIdInfoClass" style="text-align:right;">
				<input id="requestIdInfoInput" type="text" placeholder="아이디 검색">
				<button id="requestIdInfoBtn" class="btn btn-primary btn-sm" type="button">검색</button>		
				<button id="requestResetIdBtn" class="btn btn-success btn-sm" type="button">초기화</button>				
			</div>
		</div>
		<table class="table table-hover" style="text-align: center;">
			<thead>
				<tr>
					<th>코드</th>
					<th>아이디</th>
					<th>마일리지량</th>
					<th>마일리지 시각</th>
					<th>마일리지 구분</th>
					<th>취소여부</th>
				</tr>
			</thead>
			<tbody id="mlieageTableBody">
				<th:block th:if="${#lists.size(mileageUserList) > 0}" >
					<tr th:id="${l.memberId}" th:each="l : ${mileageUserList}" data-toggle="modal" data-target="#memberInfoModal" onclick="ajaxUserRequest(this)">
						<td th:text="${l.mileageUserListCode}"></td>
						<td th:text="${l.memberId}"></td>
						<td th:text="${l.mileageUserListAmount}"></td>
						<td th:text="${l.mileageUserListDate}"></td>
						<td th:text="${l.mileageUserListType}"></td>
						
						<th:block th:if="${l.mileageUserListCancelName.toString().equals('취소 안 됨')}" >
							<td class="notCanceled" th:text="${l.mileageUserListCancelName}"></td>
						</th:block>
						<th:block th:if="${l.mileageUserListCancelName.toString().equals('취소 됨')}" >
							<td class="canceled" th:text="${l.mileageUserListCancelName}"></td>
						</th:block>
							
						
					</tr>				
				</th:block>
			</tbody>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="memberInfoModal" tabindex="-1" role="dialog" aria-labelledby="memberInfoTitle" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title" id="memberInfoTitle"></h3>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <table class="table table-hover" style="text-align: center; width: 100%;">
					<thead id="memberInfoHead">
						<tr>
							<th>코드</th>
							<th>마일리지량</th>
							<th>마일리지 시각</th>
							<th>마일리지 구분</th>
							<th>취소여부</th>
						</tr>
					</thead>
					<tbody id="memberInfoBody">
					</tbody>
		        </table>
		      </div>
		      <div class="modal-footer">
		        <!--<button type="button" class="btn btn-warning" id="deleteChangeBtn" onclick="deleteChange()">취소기능으로 변경</button>-->
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<script th:src=@{/admin/js/mileage/ListManage.js}>
		

	</script>
</th:block>

</html>