<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- begin footer -->
	<div id="footer" th:fragment="footerFragment">
		Copyright © 2021 UPCYCLING PROJECT Organized in KSMART<br><br>
		<!-- 제이쿼리 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script th:src="@{/admin/js/vendor-all.min.js}"></script>
		<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/admin/js/pcoded.min.js}"></script>
	</div>
	<!-- end footer -->
</html>