<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="headFragment">
		<meta charset="utf-8">
		<link rel="icon" th:href="@{/admin/images/favicon.ico}"  type="image/x-icon">
		<link rel="stylesheet" th:href="@{/admin/fonts/fontawesome/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/admin/plugins/animation/css/animate.min.css}" >
		<link rel="stylesheet" th:href="@{/admin/css/style.css}" >
		<link rel="stylesheet" th:href="@{/admin/plugins/chart-morris/css/morris.css}" >

		<script th:src="@{/user/bootstrap/js/jquery-3.6.0.min.js}"></script>
		<title>UPCYCLING</title>
	</head>

</html>