<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN LEFT MENU -->
	<nav class="pcoded-navbar menupos-fixed menu-light brand-blue" th:fragment="leftmenuFragment">
		<div class="navbar-wrapper ">
			<div class="navbar-brand header-logo">
				<a href="index.html" class="b-brand">
					<img th:src="@{/admin/images/logo.svg}" alt="" class="logo images">
					<img th:src="@{/admin/images/logo-icon.svg}" alt="" class="logo-thumb images">
				</a>
				<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
			</div>
			<div class="navbar-content scroll-div">
				<ul class="nav pcoded-inner-navbar">
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">기준 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/standard/MileageManage}" class="">마일리지 등급 기준 관리(차현송)</a></li>
							<li class=""><a th:href="@{/admin/standard/ExpManage}" class="">경험치 기준 관리(이준혁)</a></li>
							<li class=""><a th:href="@{/admin/standard/MemberAccessManage}" class="">전체 회원 권한 관리(강현석)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">회원 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/member/List}" class="">전체 회원 목록(강현석)</a></li>
							<li class=""><a th:href="@{/admin/member/InfoManage}" class="">전체 회원 정보 관리(강현석)</a></li>
							<li class=""><a th:href="@{/admin/member/GradeManage}" class="">전체 회원 등급 관리(강현석)</a></li>
							<li class=""><a th:href="@{/admin/member/ExpManage}" class="">전체 회원 경험치 관리(이준혁)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">후원 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/donation/ApplicationManage}" class="">후원 신청 관리(차현송)</a></li>
							<li class=""><a th:href="@{/admin/donation/StatusManage}" class="">후원 현황(차현송)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">입점 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/opening/ApplicationManage}" class="">입점 신청 관리(강현석)</a></li>
							<li class=""><a th:href="@{/admin/opening/EnterpriseManage}" class="">입점 기업 관리(강현석)</a></li>
							<li class=""><a th:href="@{/admin/opening/EnterpriseSellApplicationManage}" class="">입점 기업 판매 신청 관리(강현석)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">업사이클링 재료 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/scrap/ProcedureManage}" class="">업사이클링 재료 절차 관리(이경훈)</a></li>
							<li class=""><a th:href="@{/admin/scrap/ListManage}" class="">업사이클링 재료 목록 관리(이경훈)</a></li>
							<li class=""><a th:href="@{/admin/scrap/PaymentManage}" class="">업사이클링 재료 결제 관리(차현송)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">상품 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/goods/ApplicationManage}" class="">위탁 판매 상품 신청 관리(이경훈)</a></li>
							<li class=""><a th:href="@{/admin/goods/MemberSellManage}" class="">위탁 판매 상품 판매 관리(이경훈)</a></li>
							<li class=""><a th:href="@{/admin/goods/EnterpriseSellManage}" class="">기업 판매 상품 판매 관리(이경훈)</a></li>
							<li class=""><a th:href="@{/admin/goods/EnterprisePaymentManage}" class="">기업 판매 상품 결제 관리(차현송)</a></li>
							<li class=""><a th:href="@{/admin/goods/MemberPaymentManage}" class="">위탁 판매 상품 결제 관리(차현송)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">메인 컨텐츠 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/maincontent/ApplicationManage}" class="">메인 컨텐츠 신청 관리(이준혁)</a></li>
							<li class=""><a th:href="@{/admin/maincontent/ListManage}" class="">메인 컨텐츠 목록 관리(이준혁)</a></li>
							<li class=""><a th:href="@{/admin/maincontent/ArrangementManage}" class="">메인 컨텐츠 배치 관리(이준혁)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">배송 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/shipping/ApplicationManage}" class="">배송업체 계약 신청 관리(이준혁)</a></li>
							<li class=""><a th:href="@{/admin/shipping/StatisticsManage}" class="">배송업체 계약 통계 관리(이준혁)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">클래스 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/class/EnrollmentManage}" class="">클래스 등록 관리(최다실)</a></li>
							<li class=""><a th:href="@{/admin/class/StatusManage}" class="">클래스 현황 관리(최다실)</a></li>
							<li class=""><a th:href="@{/admin/class/PaymentManage}" class="">클래스 결제 관리(최다실)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">재무 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/finance/IncomeList}" class="">사이트 수입 조회(차현송)</a></li>
							<li class=""><a th:href="@{/admin/finance/ExpenditureList}" class="">사이트 지출 조회(차현송)</a></li>
							<li class=""><a th:href="@{/admin/finance/TotalList}" class="">사이트 통합 조회(차현송)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">마일리지 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/mileage/Statistics}" class="">마일리지 통계 조회(차현송)</a></li>
							<li class=""><a th:href="@{/admin/mileage/ListManage}" class="">전체 회원 마일리지 내역 관리(차현송)</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<!-- END LEFT MENU -->
</html>