<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN LEFT MENU -->
	<nav class="pcoded-navbar menupos-fixed menu-light brand-blue" th:fragment="leftmenuFragment">
		<div class="navbar-wrapper ">
			<div class="navbar-brand header-logo">
				<a href="index.html" class="b-brand">
					<img th:src="@{/admin/images/logoforadmin.png}" alt="" class="logo images">
				</a>
				<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
			</div>
			<div class="navbar-content scroll-div">
				<ul class="nav pcoded-inner-navbar">
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-filter"></i></span><span class="pcoded-mtext">기준 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">회원 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-heart"></i></span><span class="pcoded-mtext">후원 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-download"></i></span><span class="pcoded-mtext">입점 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">업사이클링 재료 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-codepen"></i></span><span class="pcoded-mtext">상품 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/goods/MemberSellManage}" class="">위탁 판매 신청 승인 관리(이준혁)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">배송 관리</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a th:href="@{/admin/shipping/LogisticsManage}" class="">배송업체 계약 신청 관리(이준혁)</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-feather"></i></span><span class="pcoded-mtext">클래스 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">재무 관리</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-rotate-cw"></i></span><span class="pcoded-mtext">마일리지 관리</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<!-- END LEFT MENU -->
</html>