<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="upbus.ralph.mapper.GoodsCategoryMapper">

    <resultMap type="GoodsCategoryMain" id="goodsCategoryMain">
        <result property="goodsCategoryMainCode"		column="goods_category_main_code"></result>
        <result property="goodsCategoryMainName"		column="goods_category_main_name"></result>
    </resultMap>

    <select id="getGoodsCategoryMainList" resultMap="goodsCategoryMain">
        SELECT
            goods_category_main_name
        from goods_category_main;
    </select>
</mapper>