<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/admin}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
		<div class="col-xl-12">
		<div class="card">
		<div class="card-header">
		<h5>개인 위탁 판매 재고 리스트</h5>
		</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table table-striped" style="font-size: 10px;">
						<thead>
							<tr>
								<th>개인위탁판매코드</th>
								<th>개인위탁판매신청코드</th>
								<th>상품소분류코드</th>
								<th>상품명</th>
								<th>재고상황</th>
								<th>실재고확인</th>
								<th>최초재고등록일자</th>
								<th>최초재고등록자</th>
								<th>정상파손상태</th>
								<th>최종재고확인일자</th>
								<th>최종재고확인자</th>
								<th>상품이미지경로</th>
								<th>판매가</th>
								<th>판매상태</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="goodsInventoryList : ${goodsInventoryList}">
								<td th:text="${goodsInventoryList.goodsInventoryCode}"></td>
 								<td>개인위탁판매신청코드</td>
								<td>상품소분류코드</td>
								<td th:text="${goodsInventoryList.goodsName}"></td>
								<td th:text="${goodsInventoryList.goodsInventoryStatus}"></td>
								<td th:text="${goodsInventoryList.goodsInventoryStatusCheck}"></td>
								<td th:text="${goodsInventoryList.goodsInventoryPrimaryDate}"></td>
								<td th:text="${goodsInventoryList.goodsInventoryPrimaryIncharge}"></td>
								<td th:text="${goodsInventoryList.goodsStatus}"></td>
								<td th:text="${goodsInventoryList.goodsInventoryLastCheckDate}"></td>
								<td th:text="${goodsInventoryList.goodsInventoryLastCheckIncharge}"></td>
								<td th:text="${goodsInventoryList.goodsImage}"></td>
								<td th:text="${goodsInventoryList.goodsPrice}"></td>
								<td th:text="${goodsInventoryList.goodsSalesStatus}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	
	
</th:block>

	<div class="card prod-p-card bg-c-green card-body">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="m-b-0 text-white">위탁 판매 관리 시스템</h3>
				<h5 class="m-b-0 text-white">UPCYCLING BUS : UPBUS CUSTOMERS CONSIGNMENT MANAGEMENT</h5>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4>1단계</h4>
				<h5>신청 승인 단계</h5>
				<span class="d-block m-t-5">회원이 판매 신청한 승인 대기 상품 리스트입니다. 확인 후 승인 또는 거절 처리할 수 있습니다.</span>
				<span class="d-block m-t-5">승인 처리 하는 경우 바로 승인 안내가 발송되며, 거절 처리 하는 경우 고객에게 거절 안내가 발송됩니다.</span>
			</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>판매신청코드</th>
							<th>ID</th>
							<th>상품명</th>
							<th>카테고리</th>
							<th>판매신청가</th>
							<th>판매수량</th>
							<th>상품설명</th>
							<th>신청일자</th>
							<th>상품이미지</th>
							<th colspan="2" style="color: red; font-weight: bold">처리 단계를 한번 더 확인하세요</th>
						</tr>
						</thead>
						<tbody>
							<th:block th:each="l : ${goodsRequestList0}">
								<th:block th:if="${lStat.index % 2 == 1}">
									<tr class="table-active">
										<td th:text="${l.goodsRequestCode}"></td>
										<td th:text="${l.goodsSellerId}"></td>
										<td th:text="${l.goodsRequestName}"></td>
										<td th:text="${l.goodsCategorySubName}"></td>
										<td th:text="${l.goodsRequestPrice}"></td>
										<td th:text="${l.goodsRequestAmount}"></td>
										<td th:text="${l.goodsRequestDesc}"></td>
										<td th:text="${l.goodsRequestDate}"></td>
										<td th:text="${l.goodsRequestImage}"></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstApproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-primary btn-sm">1단계 승인</button></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstDisapproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-warning btn-sm">거절</button></td>
									</tr>
								</th:block>
								<th:block th:unless="${lStat.index % 2 == 1}">
									<tr>
										<td th:text="${l.goodsRequestCode}"></td>
										<td th:text="${l.goodsSellerId}"></td>
										<td th:text="${l.goodsRequestName}"></td>
										<td th:text="${l.goodsCategorySubName}"></td>
										<td th:text="${l.goodsRequestPrice}"></td>
										<td th:text="${l.goodsRequestAmount}"></td>
										<td th:text="${l.goodsRequestDesc}"></td>
										<td th:text="${l.goodsRequestDate}"></td>
										<td th:text="${l.goodsRequestImage}"></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstApproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-primary btn-sm">1단계 승인</button></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstDisapproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-warning btn-sm">거절</button></td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4>2단계</h4>
				<h5>재고화 승인 단계</h5>
				<span class="d-block m-t-5">승인 처리된 상품 목록입니다. 배송 도착 상품의 검수를 먼저 진행하세요.</span>
				<span class="d-block m-t-5">승인 처리 하는 경우 바로 재고로 등록되며, 거절 처리 하는 경우 고객에게 바로 거절 안내가 발송됩니다.</span>
				<span class="d-block m-t-5">거절 처리한 경우 반송 프로세스를 진행하세요.</span>
			</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>판매신청코드</th>
							<th>ID</th>
							<th>상품명</th>
							<th>카테고리</th>
							<th>판매신청가</th>
							<th>판매수량</th>
							<th>상품설명</th>
							<th>신청일자</th>
							<th></th>
							<th colspan="2" style="color: red; font-weight: bold">처리 단계를 한번 더 확인하세요</th>
						</tr>
						</thead>
						<tbody>
						<th:block th:each="l : ${goodsRequestList1}">
							<th:block th:if="${lStat.index % 2 == 1}">
								<tr class="table-active">
									<td th:text="${l.goodsRequestCode}"></td>
									<td th:text="${l.goodsSellerId}"></td>
									<td th:text="${l.goodsRequestName}"></td>
									<td th:text="${l.goodsCategorySubName}"></td>
									<td th:text="${l.goodsRequestPrice}"></td>
									<td th:text="${l.goodsRequestAmount}"></td>
									<td th:text="${l.goodsRequestDesc}"></td>
									<td th:text="${l.goodsRequestDate}"></td>
									<td><button type="button" class="btn btn-light btn-sm">수정</button></td>
									<td><button type="button" class="btn btn-info btn-sm">2단계 승인</button></td>
									<td><button type="button" class="btn btn-warning btn-sm">거절</button></td>
								</tr>
							</th:block>
							<th:block th:unless="${lStat.index % 2 == 1}">
								<tr>
									<td th:text="${l.goodsRequestCode}"></td>
									<td th:text="${l.goodsSellerId}"></td>
									<td th:text="${l.goodsRequestName}"></td>
									<td th:text="${l.goodsCategorySubName}"></td>
									<td th:text="${l.goodsRequestPrice}"></td>
									<td th:text="${l.goodsRequestAmount}"></td>
									<td th:text="${l.goodsRequestDesc}"></td>
									<td th:text="${l.goodsRequestDate}"></td>
									<td><button type="button" class="btn btn-secondary btn-sm">수정</button></td>
									<td><button type="button" class="btn btn-info btn-sm">2단계 승인</button></td>
									<td><button type="button" class="btn btn-warning btn-sm">거절</button></td>
								</tr>
							</th:block>
						</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</th:block>
</html>