<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/admin}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="card prod-p-card bg-c-green card-body">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="m-b-0 text-white">위탁 판매 관리 시스템</h3>
				<h5 class="m-b-0 text-white">UPCYCLING BUS : UPBUS CUSTOMERS CONSIGNMENT MANAGEMENT</h5>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card" style="background: ghostwhite">
			<div class="card-header">
				<h4>1단계</h4>
				<h5>신청 승인 단계</h5>
				<span class="d-block m-t-5">회원이 판매 신청한 승인 대기 상품 리스트입니다. 확인 후 승인 또는 거절 처리할 수 있습니다.</span>
				<span class="d-block m-t-5">승인 처리 하는 경우 바로 승인 안내가 발송되며, 거절 처리 하는 경우 고객에게 거절 안내가 발송됩니다.</span>
			</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>판매신청코드</th>
							<th>ID</th>
							<th>상품명</th>
							<th>카테고리</th>
							<th>판매신청가</th>
							<th>판매수량</th>
							<th>상품설명</th>
							<th>신청일자</th>
							<th>상품이미지</th>
							<th colspan="2" style="color: red; font-weight: bold">처리 단계를 한번 더 확인하세요</th>
						</tr>
						</thead>
						<tbody>
							<th:block th:each="l : ${goodsRequestList0}">
								<th:block th:if="${lStat.index % 2 == 1}">
									<tr class="table-active">
										<td th:text="${l.goodsRequestCode}"></td>
										<td th:text="${l.goodsSellerId}"></td>
										<td th:text="${l.goodsRequestName}"></td>
										<td th:text="${l.goodsCategorySubName}"></td>
										<td th:text="${l.goodsRequestPrice}"></td>
										<td th:text="${l.goodsRequestAmount}"></td>
										<td th:text="${l.goodsRequestDesc}"></td>
										<td th:text="${l.goodsRequestDate}"></td>
										<td th:text="${l.goodsRequestImage}"></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstApproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-primary btn-sm">1단계 승인</button></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstDisapproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-warning btn-sm">거절</button></td>
									</tr>
								</th:block>
								<th:block th:unless="${lStat.index % 2 == 1}">
									<tr>
										<td th:text="${l.goodsRequestCode}"></td>
										<td th:text="${l.goodsSellerId}"></td>
										<td th:text="${l.goodsRequestName}"></td>
										<td th:text="${l.goodsCategorySubName}"></td>
										<td th:text="${l.goodsRequestPrice}"></td>
										<td th:text="${l.goodsRequestAmount}"></td>
										<td th:text="${l.goodsRequestDesc}"></td>
										<td th:text="${l.goodsRequestDate}"></td>
										<td th:text="${l.goodsRequestImage}"></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstApproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-primary btn-sm">1단계 승인</button></td>
										<td><button th:onclick="'location.href=\''+ @{MemberSellManage/firstDisapproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-warning btn-sm">거절</button></td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card" style="background: floralwhite">
			<div class="card-header">
				<h4>2단계</h4>
				<h5>재고화 승인 단계</h5>
				<span class="d-block m-t-5">승인 처리된 상품 목록입니다. 배송 도착 상품의 검수를 먼저 진행하세요.</span>
				<span class="d-block m-t-5">승인 처리 하는 경우 바로 재고로 등록되며, 거절 처리 하는 경우 고객에게 바로 거절 안내가 발송됩니다.</span>
				<span class="d-block m-t-5">거절 처리한 경우 반송 프로세스를 진행하세요.</span>
			</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>판매신청코드</th>
							<th>ID</th>
							<th>상품명</th>
							<th>카테고리</th>
							<th>판매신청가</th>
							<th>판매수량</th>
							<th>상품설명</th>
							<th>신청일자</th>
							<th colspan="2" style="color: red; font-weight: bold">처리 단계를 한번 더 확인하세요</th>
						</tr>
						</thead>
						<tbody>
						<th:block th:each="l : ${goodsRequestList1}">
							<th:block th:if="${lStat.index % 2 == 1}">
								<tr class="table-active">
									<td th:text="${l.goodsRequestCode}"></td>
									<td th:text="${l.goodsSellerId}"></td>
									<td th:text="${l.goodsRequestName}"></td>
									<td th:text="${l.goodsCategorySubName}"></td>
									<td th:text="${l.goodsRequestPrice}"></td>
									<td th:text="${l.goodsRequestAmount}"></td>
									<td th:text="${l.goodsRequestDesc}"></td>
									<td th:text="${l.goodsRequestDate}"></td>
									<td><button th:onclick="'location.href=\''+ @{MemberSellManage/secondApproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-info btn-sm">2단계 승인</button></td>
									<td><button th:onclick="'location.href=\''+ @{MemberSellManage/secondDisapproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-danger btn-sm">재고화 불가</button></td>
								</tr>
							</th:block>
							<th:block th:unless="${lStat.index % 2 == 1}">
								<tr>
									<td th:text="${l.goodsRequestCode}"></td>
									<td th:text="${l.goodsSellerId}"></td>
									<td th:text="${l.goodsRequestName}"></td>
									<td th:text="${l.goodsCategorySubName}"></td>
									<td th:text="${l.goodsRequestPrice}"></td>
									<td th:text="${l.goodsRequestAmount}"></td>
									<td th:text="${l.goodsRequestDesc}"></td>
									<td th:text="${l.goodsRequestDate}"></td>
									<td><button th:onclick="'location.href=\''+ @{MemberSellManage/secondApproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-info btn-sm">2단계 승인</button></td>
									<td><button th:onclick="'location.href=\''+ @{MemberSellManage/secondDisapproval/{goodsRequestCode}(goodsRequestCode = ${l.goodsRequestCode})} + '\''" type="button" class="btn btn-danger btn-sm">재고화 불가</button></td>
								</tr>
							</th:block>
						</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4>3단계</h4>
				<h5>재고 등록 단계</h5>
				<span class="d-block m-t-5">검수 완료 후 재고를 등록합니다.</span>
				<span class="d-block m-t-5">2단계에서 승인 버튼을 클릭하여 재고화할 상품의 신청 정보를 연동하세요.</span>
			</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>판매신청코드</th>
							<th>ID</th>
							<th>상품명</th>
							<th>카테고리</th>
							<th>판매신청가</th>
							<th>판매수량</th>
							<th>상품설명</th>
							<th>신청일자</th>
							<th colspan="2" style="color: red; font-weight: bold">3단계 처리를 완료하면 재고로 등록됩니다.</th>
						</tr>
						</thead>
						<tbody>
						<th:block th:each="l : ${goodsRequestList2}">
							<th:block th:if="${lStat.index % 2 == 1}">
								<tr class="table-active">
									<td>
										<input th:value="${l.goodsRequestCode}" readonly>
									</td>
									<td>
										<input th:value="${l.goodsSellerId}" readonly>
									</td>
									<td>
										<input th:value="${l.goodsRequestName}">
									</td>
									<td>
										<input th:value="${l.goodsCategorySubName}">
									</td>
									<td>
										<input th:value="${l.goodsRequestPrice}">
									</td>
									<td>
										<input th:value="${l.goodsRequestAmount}">
									</td>
									<td>
										<input th:value="${l.goodsRequestDesc}">
									</td>
									<td>
										<input th:value="${l.goodsRequestDate}">
									</td>
									<td><button type="button" class="btn btn-outline-info btn-sm">등록 완료</button></td>
								</tr>
							</th:block>
							<th:block th:unless="${lStat.index % 2 == 1}">
								<tr>
									<td>
										<input th:value="${l.goodsRequestCode}" readonly>
									</td>
									<td>
										<input th:value="${l.goodsSellerId}" readonly>
									</td>
									<td>
										<input th:value="${l.goodsRequestName}">
									</td>
									<td>
										<input th:value="${l.goodsCategorySubName}">
									</td>
									<td>
										<input th:value="${l.goodsRequestPrice}">
									</td>
									<td>
										<input th:value="${l.goodsRequestAmount}">
									</td>
									<td>
										<input th:value="${l.goodsRequestDesc}">
									</td>
									<td>
										<input th:value="${l.goodsRequestDate}">
									</td>
									<td><button type="button" class="btn btn-outline-info btn-sm">등록 완료</button></td>
								</tr>
							</th:block>
						</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-header" style="background: #ff8582">
				<h5>재고화 불가 상품 관리</h5>
				<span class="d-block m-t-5">재고화 불가 프로세스를 진행하세요.</span>
				<span class="d-block m-t-5">상품을 재고화 할 수 없는 경우, 고객 정보를 확인하고 배송 업체와 연계하여 반송 처리를 진행하세요.</span>
			</div>
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>

						</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>