<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/user}">
	  	  
<!-- 커스텀 타이틀 지정 -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
	  
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="userCustomContents">
	
	<h1>입점 내역 리스트</h1>
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>아이디</th>
				<th>입점 신청 브랜드명</th>
				<th>입점 신청 기업명</th>
				<th>입점 신청 사업자 등록번호</th>
				<th>입점 신청자 담당자명</th>
				<th>입점 신청자 전화번호</th>
				<th>기업 주소</th>
				<th>입점 신청 내용</th>
				<th>입점 신청 회사&상품 파일</th>
				<th>첨부서류</th>
				<th>기업 URL</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${#lists.size(launching) > 0}" th:each="l : ${launching}">			
				<tr>
					<td th:text="${l.memberId1}"></td>
					<td th:text="${l.launchingBrand}"></td>
					<td th:text="${l.launchingCompany}"></td>
					<td th:text="${l.launchingBusinessRegNum}"></td>
					<td th:text="${l.launchingManager}"></td>
					<td th:text="${l.launchingPhone}"></td>
					<td th:text="${l.launchingAddr}"></td>
					<td th:text="${l.launchingContent}"></td>
					<td th:text="${l.launchingHwp}"></td>
					<td th:text="${l.launchingFile}"></td>
					<td th:text="${l.launchingUrl}"></td>
					<td>
						<a th:href="@{/user/opening/Remove}">삭제</a>
					</td>
				</tr>
			</th:block>
			<tr	th:unless="${#lists.size(launching) > 0}">
				<td colspan="12">조회된 데이터가 없습니다</td>
			</tr>
		</tbody>
	</table>
</th:block>


</html>