<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/user}">
	  	  
<!-- 커스텀 타이틀 지정 -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
	 
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="userCustomContents">
	<form th:action="@{/user/opening/Remove}" method="post">
		<table border="1">
			<tr>
				<td>회원아이디</td>
				<td>
					<input type="text" name="memberId1" th:value="${session.SID}"  readonly="readonly">
				</td>
			</tr>
			<tr>
				<td>회원비밀번호</td>
				<td>
					<input type="password" name="memberPw" >
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<button type="submit">입점 신청 삭제</button>
				</td>
			</tr>
		</table>
	</form>
</th:block>

</html>