<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thedrivers.upbus.mapper.MemberMapper">

	<resultMap type="Member" id="memberResultMap">
		<result property="memberId" 						column="member_id"/>
		<result property="memberPw" 						column="member_pw"/>
		<result property="memberName" 						column="member_name"/>
		<result property="memberEmail" 						column="member_email"/>
		<result property="memberGender" 					column="member_gender"/>
		<result property="memberAddr" 						column="member_addr"/>
		<result property="memberPhone_number" 				column="member_phone_number"/>
		<result property="memberBirth" 						column="member_birth"/>
		<result property="memberMile" 						column="member_mile"/>
		<result property="memberSign" 						column="member_sign"/>
		<result property="gradeCode" 						column="grade_code"/>
		<result property="memberExp" 						column="member_exp"/>
		<result property="memberStatus" 					column="member_status"/>
		<result property="memberImage" 						column="member_image"/>
		<result property="classStudentDivision" 			column="class_student_division"/>
		<result property="classTeacherDivision" 			column="class_teacher_division"/>
		<result property="memberLogin_history_code" 		column="member_login_history_code"/>
		<result property="memberDivision" 					column="member_division"/>
	</resultMap>
	
	<resultMap type="Launching" id="launchingResultMap">
		<result property="launchingCode" 					column="launching_code"/>
		<result property="memberId1" 						column="member_id"/>
		<result property="launchingBrand" 					column="launching_brand"/>
		<result property="launchingCompany" 				column="launching_company"/>
		<result property="launchingBusiness_reg_num" 		column="launching_business_reg_num"/>
		<result property="launchingManager" 				column="launching_manager"/>
		<result property="launchingPhone" 					column="launching_phone"/>
		<result property="launchingAddr" 					column="launching_addr"/>
		<result property="launchingContent" 				column="launching_content"/>
		<result property="launchingHwp" 					column="launching_hwp"/>
		<result property="launchingUrl" 					column="launching_url"/>
		<result property="launchingFile" 					column="launching_file"/>
		<result property="lauchingStauts" 					column="lauching_stauts"/>
		<result property="lauchingFee" 						column="lauching_fee"/>
		<!-- collection 복잡한 맵핑 has many 관계 -->
	</resultMap>
	
	
	<insert id="Signup" parameterType="Member">
		INSERT INTO member
		(   member_id
		   ,member_pw
		   ,member_name
		   ,member_email
		   ,member_gender
		   ,member_addr
		   ,member_phone_number
		   ,member_birth
		   ,member_sign
		) VALUES (
		    #{memberId}
		   ,#{memberPw}
		   ,#{memberName}
		   ,#{memberEmail}
		   ,#{memberGender}
		   ,#{memberAddr}
		   ,#{memberPhone_number}
		   ,#{memberBirth}
		   , CURDATE()
		);	
	</insert>
	
	<insert id="Application2" parameterType="Launching">
		INSERT INTO launching
		(    
			 launching_code
			,member_id
			,launching_brand
			,launching_company
			,launching_business_reg_num
			,launching_manager
			,launching_phone
			,launching_addr
			,launching_content
			,launching_hwp
			,launching_url
			,launching_file
			) VALUES (
		      (SELECT common_sf_nextval('lch_') FROM DUAL )
		   ,#{memberId1}
		   ,#{launchingBrand}
		   ,#{launchingCompany}
		   ,#{launchingBusiness_reg_num}
		   ,#{launchingManager}
		   ,#{launchingPhone}
		   ,#{launchingAddr}
		   ,#{launchingContent}
		   ,#{launchingHwp}
		   ,#{launchingUrl}
		   ,#{launchingFile}
		);	
	</insert>
	
	<update id="modify" parameterType="Member">
		UPDATE member
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPw != null and memberPw != ''.toString()">
				member_pw = #{memberPw},
			</if>
			<if test="memberName != null and memberName != ''.toString()">
				member_name = #{memberName},
			</if>
			<if test="memberEmail != null and memberEmail != ''.toString()">
				member_email = #{memberEmail},
			</if>
			<if test="memberAddr != null and memberAddr != ''.toString()">
				member_addr = #{memberAddr},
			</if>
			<if test="memberPhone_number != null and memberPhone_number != ''.toString()">
				member_phone_number = #{memberPhone_number},
			</if>
			<if test="memberBirth != null and memberBirth != ''.toString()">
				member_birth = #{memberBirth},
			</if>
			<if test="memberImage != null and memberImage != ''.toString()">
				member_image = #{memberImage},
			</if>
		</trim>
		WHERE
			member_id=#{memberId}
	</update>
	
	<update id="list" parameterType="Launching">
		UPDATE Launching
		<trim prefix="SET" suffixOverrides=",">
			<if test="launchingBrand != null and launchingBrand != ''.toString()">
				launching_brand = #{launchingBrand},
			</if>
			<if test="launchingCompany != null and launchingCompany != ''.toString()">
				launching_company = #{launchingCompany},
			</if>
			<if test="launchingBusiness_reg_num != null and launchingBusiness_reg_num != ''.toString()">
				launching_business_reg_num = #{launchingBusiness_reg_num},
			</if>
			<if test="launchingManager != null and launchingManager != ''.toString()">
				launching_manager = #{launchingManager},
			</if>
			<if test="launchingPhone != null and launchingPhone != ''.toString()">
				launching_phone = #{launchingPhone},
			</if>
			<if test="launchingAddr != null and launchingAddr != ''.toString()">
				launching_addr = #{launchingAddr},
			</if>
			<if test="launchingContent != null and launchingContent != ''.toString()">
				launching_content = #{launchingContent},
			</if>
			<if test="launchingHwp != null and launchingHwp != ''.toString()">
				launching_hwp = #{launchingHwp},
			</if>
			<if test="launchingUrl != null and launchingUrl != ''.toString()">
				launching_url = #{launchingUrl},
			</if>
			<if test="launchingFile != null and launchingFile != ''.toString()">
				launching_file = #{launchingFile},
			</if>
		</trim>
		WHERE
			member_id=#{memberId1}
	</update>
	
	<select id="getMemberInfoById" parameterType="String" resultType="Member">
		SELECT 
			  member_id					AS memberId
			, member_pw					AS memberPw
			, member_name				AS memberName
			, member_email				AS memberEmail
			, member_addr				AS memberAddr
			, member_phone_number		AS memberPhone_number
			, member_birth				AS memberBirth
			, member_image				AS memberImage
		FROM 
			member
		WHERE
			member_id = #{memberId};
	</select>
	
	<select id="getMemberInfoById2" parameterType="String" resultType="Launching">
		SELECT 
			  member_id						AS memberId1
			, launching_brand				AS launchingBrand
			, launching_company				AS launchingCompany
			, launching_business_reg_num	AS launchingBusiness_reg_num
			, launching_manager				AS launchingManager
			, launching_phone				AS launchingPhone
			, launching_addr				AS launchingAddr
			, launching_content				AS launchingContent
			, launching_hwp					AS launchingHwp
			, launching_url					AS launchingUrl
			, launching_file				AS launchingFile
		FROM 
			launching
		WHERE
			member_id = #{memberId1};
	</select>
	
	<select id="getMemberList" resultMap="memberResultMap">
		SELECT 
			member_id, 
			member_name, 
			member_email, 
			member_gender, 
			member_addr, 
			member_phone_number, 
			member_birth, 
			member_mile, 
			member_sign, 
			grade_code, 
			member_exp, 
			member_status, 
			class_student_division, 
			class_teacher_division, 
			member_division
		FROM 
			member order by member_sign ASC;
	</select>
	
	<select id="getCompareMemberId" resultType="String">
		SELECT 
			member_id
		FROM 
			member
		WHERE
			member_id = #{memberId}
	</select>
	
	<delete id="memberDelete" parameterType="String">
		DELETE
		FROM 
			member
		WHERE
			member_id = #{memberId};
	</delete>


</mapper>