<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layout/user}">
	
	<!-- contents layout:fragment 정의 -->
	
	<th:block layout:fragment="userCustomContents">
				<!--  ClassAdd 의 CSS 파일 가져옴 -->
		<link th:href="@{/user/css/class/ClassAddTeacher.css}" type="text/css" rel="stylesheet">

		<!-- form 태그 post start-->
		<form th:action="@{/user/class/ClassAddTeacher}" method="post">
			
			<!-- classAddContainer <div> <row> start -->
		  	<div class="container-fluid row" id="classAddContainer">
		  	
		  		<!-- classAddContainer gridsystem start -->
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="classAddContainerStyle" >
				
					<!-- upcycleClass image path -->
			  		<img src="/img/user/class/upcycleClass.png" style="width: 100%; height: 20%;">
			  		
			  		<!-- sub title 클래스 강사 신청 -->
			  		<div id="subTitle"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"> 클래스 강사 신청 </span></div>
			  		
			  		
					<!-- 신청 아이디-->
					<div class= "form-group">
						<span class="glyphicon glyphicon-ok textGroup" aria-hidden="true" id="spanblock"> 신청아이디 </span>
						<input type="text" class="form-control textForm" id="memberId" readonly="readonly"> 
					</div>

					
					<!-- 강사 이메일-->
					<div class= "form-group">
						<span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 강사이메일 </span>
						<input type="email" class="form-control textForm" id="classTecaherEmail" name="class_techaer_email" placeholder="강사이메일을 입력해주십시요">
					</div>
					
					<!-- 강사 이름-->
					<div class= "form-group">
						<span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 강사이름 </span>
						<input type="text" class="form-control textForm" id="classTeacherName" name="class_teacher_name" placeholder="강사이름을 입력해주십시요">
					</div>
					
					<!-- 강사 소속-->
					<div class= "form-group">
						<span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 강사소속 </span>
						<input type="text" class="form-control textForm" id="classTeacherTeam" name="class_teacher_team" placeholder="강사소속을 입력해주십시요">
					</div>
					
					<!-- 강사 전화번호 -->
					<div class= "form-group">
						<span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 강사전화번호 </span>
						<input type="text" class="form-control textForm" id="classTeacherPhone" name="class_teacher_phone_number"  placeholder="010-XXX-XXXX 또는 010-XXXX-XXXX">
					</div>
				
					<!-- 신청서 파일 -->
					<div class= "form-group">
					    <span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 신청서파일 </span>
					    <input class="form-control" type="file" id="classTeacherSignUpFile" name="class_teacher_signup_file" >
					    <p class="help-block"> ※ (필수) : 클래스 강사 신청서 파일을 올려주십시요 ※</p>
					</div>
				   
				    <!-- 일정표 파일 -->
					<div class= "form-group">
					    <span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 일정표파일 </span>
					    <input class="form-control" type="file" id="classTeacherScheduleFile" name="class_teacher_schedule_file">
					    <p class="help-block">※ (필수) : 클래스 강사 일정표 파일을 올려주십시요 ※</p>
					</div>
					
					<!-- 이력서 파일 -->
					<div class="form-group">
					    <span class="glyphicon glyphicon-ok textGroup" aria-hidden="true"> 이력서파일 </span>
					    <input class="	form-control" type="file" id="classTeacherResumFiel" name="class_teacher_resum_file">
					    <p class="help-block">※ (필수) : 클래스 강사 이력서 파일을 올려주십시요 ※</p>
					</div>
					
					<!-- form 의 버튼 확인 / 취소 -->
					<div id="ClassAddButton" >
						<button type="submit" class="btn" id="yesButton">확인</button>
						<a th:href="@{/user/class/classAddTeacherList}" class="btn" id="noButton">취소</a>
					</div>					
					
				</div>
				<!-- classAddContainer gridsystem end -->
				
			</div>
			<!-- classAddContainer <div> <row> end -->
		</form>
		<!-- form 태그 post end-->
		
		<!-- 
			자바 스크립트 파일로 따로 분리하려고 하였으나 자바스크립트 404 오류가 뜸으로
			변수는 여기서 선언을 하고 처리는 ClassAddTeacher.js(자바스크립트) 에서  한다.
				 -->
		<script th:inline="javascript">
			/*<![CDATA[*/
			var session = /*[[ ${session.SID} ]]*/;
			console.log(session)
			/*]]>*/
		</script>
		
		<script  type="text/javascript" th:inline="javascript" th:src="@{/user/js/class/ClassAddTeacher.js}"></script>
		
	</th:block>

</html>